services:
  - type: web
    name: wedding-app
    env: node
    buildCommand: npm ci && npm run build
    startCommand: npm run start
    autoDeploy: true
    envVars:
      - key: NEON_DATABASE_URL
        sync: false
      - key: BLOB_READ_WRITE_TOKEN
        sync: false